.wrapper{
    width:200px;
    padding:15px;
    /*height:100px;*/
    
    display:flex;
    flex-direction: column;
}
*{
    background-color:rgb(173, 197, 124);
    
}
.total{
    padding:5px;
    font-size:large;
    font-weight:bolder;
}