.passwd-wrap{
    position: relative;
}

#show-passwd{
    position: relative;
    top:50%;
    right:1rem;
    transform: translateY(-50%);
    cursor:pointer;
    width: 1.5rem;
    display: flex;
    align-items:center;
}

#show-passwd img{
    width: 100%;
    height:auto;

}